# Get API Response
Repository: https://github.com/risan/bibit-reksadana

In [5]:
from urllib.request import urlopen
import json

url = "https://bibit-reksadana.vercel.app/api?buy_from_bibit=true&per_page=10000"
response = urlopen(url)
data_json = json.loads(response.read())
bibit_fund = data_json['data']
print(bibit_fund[0])

{'id': 13, 'symbol': 'RD13', 'name': 'ABF Indonesia Bond Index Fund', 'type': 'Obligasi', 'profile': '', 'tradeable': 1, 'notbuyable': 0, 'status': 1, 'dividend_date': None, 'robocategory': 'fixincome', 'bank_redeem': {'id': 38, 'name': 'HSBC INDONESIA', 'color': '#EF241C'}, 'currency_exchange': {'exchange_rate': 1, 'currency': 'IDR'}, 'is_has_dividend': False, 'min_asset': 1000000, 'minbuy': 1000000, 'minsell': 1000000, 'executive': {}, 'fee': {'subscription': {'value': 0, 'type': 'percent'}, 'redemption': {'value': 0, 'type': 'percent'}, 'transfer': {'value': 0, 'type': 'percent', 'currency': 'IDR'}}, 'asset': [{'name': 'Obligasi', 'percentage': 100}, {'name': 'Saham', 'percentage': 0}, {'name': 'Likuiditas', 'percentage': 0}], 'holding': [{'symbol': None, 'name': 'FR0078', 'annualDividend': 0, 'date': '2022-05-31'}, {'symbol': None, 'name': 'FR0087', 'annualDividend': 0, 'date': '2022-05-31'}, {'symbol': None, 'name': 'FR0068', 'annualDividend': 0, 'date': '2022-05-31'}, {'symbol': None, 'name': 'FR0059', 'annualDividend': 0, 'date': '2022-05-31'}, {'symbol': None, 'name': 'FR0056', 'annualDividend': 0, 'date': '2022-05-31'}, {'symbol': None, 'name': 'FR0082', 'annualDividend': 0, 'date': '2022-05-31'}, {'symbol': None, 'name': 'FR0086', 'annualDividend': 0, 'date': '2022-05-31'}, {'symbol': None, 'name': 'FR0081', 'annualDividend': 0, 'date': '2022-05-31'}, {'symbol': None, 'name': 'FR0083', 'annualDividend': 0, 'date': '2022-05-31'}, {'symbol': None, 'name': 'FR0070', 'annualDividend': 0, 'date': '2022-05-31'}], 'bank': [{'bank': 'BCA', 'id': 31, 'account': '4587484098', 'name': 'Reksa Dana Indeks ABF Indonesia Bond Index Fund'}], 'exitload': [], 'investment_manager': {'name': 'Bahana TCW Investment Management, PT', 'ojkCode': 'DX002', 'telepon': '+62 21 2505277', 'fax': '+62 21 2505279', 'email': 'sinar@bahana.co.id', 'url': 'www.sinar.bahanatcw.com'}, 'custodian_bank': {'name': 'HSBC INDONESIA', 'ojkCode': 'HSBC1'}, 'sharia': False, 'etf': True, 'index': True, 'is_instant_redemption': False, 'aum': {'value': 4976394292409, 'date': '2022-04-01'}, 'shareholders': [], 'expenseratio': {'percentage': 0.0021}, 'cagr': {'1y': 0.027228037888962664, '3y': 0.08665559845561677, '5y': 0.06910619640882198, '10y': 0.06663223972803856, 'all': 0.08842141884918764}, 'cagr_adjusted': {'1y': 0.027228037888962664, '3y': 0.08665559845561677, '5y': 0.06910619640882198, '10y': 0.06663223972803856, 'all': 0.08845634469372343}, 'simplereturn': {'1d': 0.0048012183863375135, '1m': 0.00403942853152417, '3m': -0.013928319552163781, 'ytd': -0.01102023810688213, '1y': 0.027228037888962664, '3y': 0.2831450871890777, '5y': 0.3967035383061508, '10y': 0.9061060687739935, 'all': 2.40878744721347}, 'changesvalue': {'1d': 223.01610000000073, '1m': 187.7734000000055, '3m': -659.2575999999972, 'ytd': -520.0779999999941, '1y': 1237.1273, '3y': 10299.073900000003, '5y': 13256.435100000002, '10y': 22186.913200000003, 'all': 32980.9732}, 'nav': {'date': '2022-06-03', 'value': 46672.9132}, 'riskprofile': 'Moderate', 'maxdrawdown': {'1y': -0.04352614386495168, '3y': -0.08500568958456078, '5y': -0.09618645836821305, '10y': -0.1650636557262417, 'all': -0.2760120415115265}, 'changesvalueaum': {'1m': 4992884618074, '3m': 4953125786063, '6m': 4955070537317, 'ytd': 4953125786063, '1y': 4473365354447, '3y': 4195048340258, '5y': 4071346297048, '10y': 4071346297048, 'all': 4071346297048}}

# Save JSON Response as CSV

In [6]:
import pandas as pd

df_bibit_fund_desc = pd.DataFrame(bibit_fund)
df_bibit_fund_desc.to_csv('data/fund_desc_in_bibit.csv', index=False)
df_bibit_fund_desc.head()

,id,symbol,name,type,profile,tradeable,notbuyable,status,dividend_date,robocategory,...,shareholders,expenseratio,cagr,cagr_adjusted,simplereturn,changesvalue,nav,riskprofile,maxdrawdown,changesvalueaum
0,13,RD13,ABF Indonesia Bond Index Fund,Obligasi,,1,0,1,None,fixincome,...,[],{'percentage': 0.0021},"{'1y': 0.027228037888962664, '3y': 0.086655598...","{'1y': 0.027228037888962664, '3y': 0.086655598...","{'1d': 0.0048012183863375135, '1m': 0.00403942...","{'1d': 223.01610000000073, '1m': 187.773400000...","{'date': '2022-06-03', 'value': 46672.9132}",Moderate,"{'1y': -0.04352614386495168, '3y': -0.08500568...","{'1m': 4992884618074, '3m': 4953125786063, '6m..."
1,66,RD66,Avrist Ada Kas Mutiara,Pasar Uang,,1,0,1,None,moneymarket,...,[],{'percentage': 0.0028},"{'1y': 0.028056934894332475, '3y': 0.045806252...","{'1y': 0.028056934894332475, '3y': 0.045806252...","{'1d': 6.143591082574673e-05, '1m': 0.00249420...","{'1d': 0.07999999999992724, '1m': 3.2400000000...","{'date': '2022-06-03', 'value': 1302.25}",Low,"{'1y': -0.0003239116184012847, '3y': -0.000323...","{'1m': 55580217795.93, '3m': 350715170552.64, ..."
2,68,RD68,Avrist Ada Saham Blue Safir,Saham,,1,0,1,None,equity,...,[],{'percentage': 0.015},"{'1y': 0.1635519299723629, '3y': 0.03303776255...","{'1y': 0.1635519299723629, '3y': 0.03303776255...","{'1d': 0.003757932428120725, '1m': -0.02918813...","{'1d': 4.240000000000009, '1m': -34.0499999999...","{'date': '2022-06-03', 'value': 1132.52}",High,"{'1y': -0.08762701242127546, '3y': -0.43908263...","{'1m': 499653110552.48, '3m': 460348988321.78,..."
3,70,RD70,Avrist Balanced Amar Syariah,Campuran,,1,0,1,None,NaN,...,[],{'percentage': 0.009},"{'1y': 0.06965044669962728, '3y': 0.0290139810...","{'1y': 0.06965044669962728, '3y': 0.0290139810...","{'1d': 0.0022304295608672753, '1m': 0.01161200...","{'1d': 2.4700000000000273, '1m': 12.7400000000...","{'date': '2022-06-03', 'value': 1109.88}",Moderate,"{'1y': -0.04161486492998323, '3y': -0.23079420...","{'1m': 21852350966.98, '3m': 21657353848.26, '..."
4,82,RD82,Avrist IDX30,Saham,,1,0,1,None,equity,...,[],{'percentage': 0.0149},"{'1y': 0.1502748999096677, '3y': 0.02287018054...","{'1y': 0.1502748999096677, '3y': 0.02287018054...","{'1d': 0.0037075601140488246, '1m': -0.0398153...","{'1d': 3.8099999999999454, '1m': -42.769999999...","{'date': '2022-06-03', 'value': 1031.44}",High,"{'1y': -0.09903088023731732, '3y': -0.44294340...","{'1m': 214128455294.59, '3m': 191798011230.95,..."

# Scraping NAV Fund History
https://sites.google.com/chromium.org/driver/

https://www.pasardana.id/fund/search

## Prepare Web Driver

In [27]:
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.common.by import By

driver = webdriver.Chrome('driver/chromedriver.exe')

C:\Users\Asus\AppData\Local\Temp\ipykernel_19700\431741424.py:5: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome('driver/chromedriver.exe')

## Login to pasardana.id

In [28]:
with open('data/user_pasardana.json') as f:
    user_pasardana = json.load(f)

driver.get('https://www.pasardana.id/login')
driver.find_element(
    by=By.XPATH, value='//*[@id="EmailAddress"]').send_keys(user_pasardana['email'])
driver.find_element(
    by=By.XPATH, value='//*[@id="Password"]').send_keys(user_pasardana['password'])
driver.find_element(
    by=By.XPATH, value='/html/body/div/main/div/div/div/section/form/div[4]/div/button').click()

## Scraping NAV History

In [2]:
import time
from selenium.webdriver.support.ui import WebDriverWait
from selenium.common.exceptions import TimeoutException
from selenium.webdriver.support import expected_conditions as EC

In [123]:
df_bibit_fund_desc = pd.read_csv('data/fund_desc_in_bibit.csv')
bibit_fund_name = df_bibit_fund_desc['name']

for name in bibit_fund_name[86:]:
    delay_search = 3
    delay_history = 6

    # go to search fund path
    print(f'Scraping: {name}')
    driver.get('https://www.pasardana.id/fund/search')
    time.sleep(delay_search)
    driver.find_element(
        by=By.XPATH, value='/html/body/div/ui-view/ui-view/ui-view/main/div[1]/div/div[2]/div[3]/div[2]/form/div/input').send_keys(name)
    time.sleep(delay_search)
    driver.find_element(
        by=By.XPATH, value='//*[@id="jqxWidget"]/div[4]/div[2]/table/tbody/tr[1]/td[3]/a').click()

    try:
        WebDriverWait(driver, delay_history).until(EC.presence_of_element_located(
            (By.XPATH, '//*[text()="Download CSV"]'))).click()
        print("- Success!")
    except TimeoutException:
        print("- Loading took too much time!")

Scraping: Sucorinvest Equity Fund
- Success!
Scraping: Sucorinvest Flexi Fund
- Success!
Scraping: Sucorinvest Maxi Fund
- Success!
Scraping: Sucorinvest Money Market Fund
- Success!
Scraping: Sucorinvest Sharia Equity Fund
- Success!
Scraping: Sucorinvest Sharia Money Market Fund
- Success!
Scraping: Sucorinvest Sharia Sukuk Fund
- Success!
Scraping: Sucorinvest Stable Fund
- Success!
Scraping: TRAM Consumption Plus Kelas A
- Success!
Scraping: TRAM Infrastructure Plus
- Success!
Scraping: TRAM Strategic Plus
- Success!
Scraping: TRIM Dana Tetap 2
- Success!
Scraping: TRIM Kapital
- Success!
Scraping: TRIM Kapital Plus
- Success!

In [124]:
driver.quit()

## Move NAV History from Downloads Folder to Project

In [1]:
import re
import os
import shutil

In [140]:

download_dir = 'C:\\Users\\Asus\\Downloads\\'
regex = re.compile('nav.*\.csv')

file_name_nav = []
for root, dirs, files in os.walk(download_dir):
    for file in files:
        if regex.match(file):
            file_name_nav.append(file)

file_name_nav[:5]

['nav (1).csv', 'nav (10).csv', 'nav (11).csv', 'nav (12).csv', 'nav (13).csv']

In [142]:
target_dir = 'data/nav/'
if not os.path.isdir(target_dir):
    os.mkdir(target_dir)

for file in file_name_nav:
    shutil.move(download_dir + file, target_dir + file)

# Data Cleansing

In [31]:
import os
import pandas as pd

## List NAV file name

In [32]:
nav_dir = 'data/nav/'
nav_file_list = os.listdir(nav_dir)

## Cleansing NAV Datasets

In [48]:
def cleansing_nav(df):
    for i in range(len(df)):
        if pd.isna(df.iloc[i,1]):
            df.iloc[i,1] = df.iloc[i,2]
    df.iloc[:,0] = pd.to_datetime(df.iloc[:,0])
    df = df.iloc[:,[0,1]]
    df = df[df['DateTime'] >= pd.to_datetime('2021-01-01')]
    df = df.set_index('DateTime').resample('D', origin='2021-01-01').ffill()
    df = df.resample('W').mean()
    return df

In [55]:
is_first = True
for file in nav_file_list:
    if is_first:
        df_nav_bibit = pd.read_csv(nav_dir + file)
        df_nav_bibit = cleansing_nav(df_nav_bibit)
        is_first = False
        continue
    df_temp = pd.read_csv(nav_dir + file)
    df_temp = cleansing_nav(df_temp)
    # df_nav_bibit = pd.merge(df_nav_bibit, df_temp, left_index=True, right_index=True)
    # df_nav_bibit.join(df_temp)
    df_nav_bibit = pd.concat([df_nav_bibit, df_temp], axis=1)

df_nav_bibit.head()

,Avrist Ada Kas Mutiara,Batavia Dana Kas Maxima,Batavia Dana Obligasi Ultima,BATAVIA DANA SAHAM,BATAVIA DANA SAHAM SYARIAH,BNI-AM DANA LANCAR SYARIAH,BNI-AM DANA LIKUID,REKSA DANA BNI-AM DANA PENDAPATAN TETAP MAKARA INVESTASI,BNI-AM DANA PENDAPATAN TETAP SYARIAH ARDHANI,BNI-AM Dana Saham Inspiring Equity Fund,...,Sucorinvest Sharia Money Market Fund,Sucorinvest Sharia Sukuk Fund,Sucorinvest Stable Fund,TRAM CONSUMPTION PLUS KELAS A,TRAM INFRASTRUCTURE PLUS,TRAM STRATEGIC PLUS,TRIM Dana Tetap 2,TRIM Kapital,TRIM KAPITAL PLUS,ABF INDONESIA BOND INDEX FUND
DateTime,,,,,,,,,,,,,,,,,,,,,
2021-01-03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2021-01-10,1247.211429,1569.285714,2898.944286,60014.175714,1871.311429,1543.874286,1653.878571,1222.679980,1419.574286,1047.923320,...,1170.771429,NaN,1076.915714,1785.795714,1236.715714,1788.140000,2649.227757,9732.388357,3434.890471,45161.364357
2021-01-17,1248.247143,1570.435714,2887.065714,61897.321429,1908.560000,1544.738571,1654.990000,1215.591183,1414.027143,1077.559700,...,1171.974286,NaN,1078.962857,1843.835714,1294.928571,1765.182857,2635.810029,10140.866557,3566.784343,44812.357614
2021-01-24,1249.307143,1571.528571,2882.937143,62225.741429,1890.582857,1545.604286,1655.837143,1212.864740,1410.098571,1081.802000,...,1172.868571,NaN,1081.027143,1844.407143,1299.565714,1755.071429,2631.471729,10189.467286,3561.017029,44679.002114
2021-01-31,1250.382857,1572.655714,2890.737143,58879.262857,1759.311429,1547.514286,1657.214286,1215.724333,1412.592857,1024.218683,...,1173.748571,NaN,1083.118571,1739.272857,1229.821429,1758.848571,2641.265171,9681.042429,3377.125186,44807.548557

In [56]:
df_nav_bibit.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 75 entries, 2021-01-03 to 2022-06-05
Freq: W-SUN
Data columns (total 99 columns):
 #   Column                                                    Non-Null Count  Dtype
---  ------                                                    --------------  -----
 0   Avrist Ada Kas Mutiara                                    74 non-null     float64
 1   Batavia Dana Kas Maxima                                   74 non-null     float64
 2   Batavia Dana Obligasi Ultima                              74 non-null     float64
 3   BATAVIA DANA SAHAM                                        74 non-null     float64
 4   BATAVIA DANA SAHAM SYARIAH                                74 non-null     float64
 5   BNI-AM DANA LANCAR SYARIAH                                74 non-null     float64
 6   BNI-AM DANA LIKUID                                        74 non-null     float64
 7   REKSA DANA BNI-AM DANA PENDAPATAN TETAP MAKARA INVESTASI  73 non-null     float64
 8   BNI-AM DANA PENDAPATAN TETAP SYARIAH ARDHANI              74 non-null     float64
 9   BNI-AM Dana Saham Inspiring Equity Fund                   73 non-null     float64
 10  BNI-AM Indeks IDX30                                       73 non-null     float64
 11  Avrist Ada Saham Blue Safir                               74 non-null     float64
 12  ITB Harmoni BNI-AM                                        74 non-null     float64
 13  BNI-AM Mahogany                                           74 non-null     float64
 14  SYARIAH BNP PARIBAS CAKRA SYARIAH USD KELAS RK1           74 non-null     float64
 15  BNP PARIBAS EKUITAS                                       74 non-null     float64
 16  BNP Paribas Greater China Equity Syariah USD Kelas RK1    74 non-null     float64
 17  BNP PARIBAS INFRASTRUKTUR PLUS                            74 non-null     float64
 18  BNP Paribas Omega                                         74 non-null     float64
 19  BNP PARIBAS PESONA                                        74 non-null     float64
 20  BNP Paribas Pesona Syariah                                74 non-null     float64
 21  Reksa Dana BNP Paribas Prima II Kelas RK1                 74 non-null     float64
 22  AVRIST BALANCED AMAR SYARIAH                              74 non-null     float64
 23  BNP PARIBAS PRIMA USD                                     74 non-null     float64
 24  BNP PARIBAS RUPIAH PLUS                                   74 non-null     float64
 25  BNP PARIBAS SOLARIS                                       74 non-null     float64
 26  BNP Paribas Sri Kehati                                    74 non-null     float64
 27  DANAMAS RUPIAH PLUS                                       74 non-null     float64
 28  DANAMAS STABIL                                            74 non-null     float64
 29  DANAREKSA INDEKS SYARIAH                                  74 non-null     float64
 30  DANAREKSA MAWAR KONSUMER 10 KELAS A                       74 non-null     float64
 31  Danareksa Melati Pendapatan Utama                         74 non-null     float64
 32  DANAREKSA SERUNI PASAR UANG II                            74 non-null     float64
 33  Avrist IDX30                                              74 non-null     float64
 34  DANAREKSA SERUNI PASAR UANG III                           74 non-null     float64
 35  Reksa Dana Eastspring IDR Fixed Income Fund Kelas A       74 non-null     float64
 36  Reksa Dana Eastspring Investments Cash Reserve Kelas A    74 non-null     float64
 37  EASTSPRING INVESTMENTS VALUE DISCOVERY KELAS A            74 non-null     float64
 38  EASTSPRING INVESTMENTS YIELD DISCOVERY KELAS A            74 non-null     float64
 39  Eastspring Syariah Fixed Income Amanah Kelas A            74 non-null     float64
 40  Eastspring Syariah Greater China Equity USD Kelas A       74 non-null     float64
 41  Jarvis Balanced Fund                                      74 non-null     float64
 42  Jarvis Money Market Fund                                  74 non-null     float64
 43  MAJORIS OBLIGASI UTAMA INDONESIA                          74 non-null     float64
 44  AVRIST PRIME BOND FUND                                    74 non-null     float64
 45  Majoris Pasar Uang Syariah Indonesia                      74 non-null     float64
 46  MAJORIS SAHAM ALOKASI DINAMIK INDONESIA                   74 non-null     float64
 47  Majoris Sukuk Negara Indonesia                            74 non-null     float64
 48  MAKARA PRIMA                                              74 non-null     float64
 49  Mandiri Indeks FTSE Indonesia ESG Kelas A                 3 non-null      float64
 50  MANDIRI INVESTA ATRAKTIF-SYARIAH                          74 non-null     float64
 51  MANDIRI INVESTA DANA SYARIAH                              74 non-null     float64
 52  Mandiri Investa Syariah Berimbang                         74 non-null     float64
 53  Mandiri Investasi Obligasi Nasional                       74 non-null     float64
 54  Mandiri Pasar Uang Syariah Ekstra                         74 non-null     float64
 55  BAHANA DANA LIKUID                                        74 non-null     float64
 56  Manulife Dana Kas II Kelas A                              74 non-null     float64
 57  Manulife Dana Kas Syariah                                 74 non-null     float64
 58  REKSA DANA MANULIFE DANA SAHAM KELAS A                    74 non-null     float64
 59  MANULIFE OBLIGASI NEGARA INDONESIA II KELAS A             74 non-null     float64
 60  MANULIFE OBLIGASI UNGGULAN KELAS A                        74 non-null     float64
 61  MANULIFE SAHAM ANDALAN                                    74 non-null     float64
 62  Reksa Dana Manulife Syariah Sektoral Amanah Kelas A       74 non-null     float64
 63  MANULIFE USD FIXED INCOME KELAS A                         74 non-null     float64
 64  PRINCIPAL CASH FUND                                       74 non-null     float64
 65  Principal Index IDX30 Kelas O                             74 non-null     float64
 66  Bahana Likuid Syariah Kelas G                             74 non-null     float64
 67  PRINCIPAL ISLAMIC EQUITY GROWTH SYARIAH                   74 non-null     float64
 68  PRINCIPAL TOTAL RETURN BOND FUND                          74 non-null     float64
 69  SCHRODER 90 PLUS EQUITY FUND                              74 non-null     float64
 70  SCHRODER DANA ISTIMEWA                                    74 non-null     float64
 71  Schroder dana Likuid                                      74 non-null     float64
 72  Schroder Dana Likuid Syariah                              74 non-null     float64
 73  SCHRODER DANA MANTAP PLUS II                              74 non-null     float64
 74  SCHRODER DYNAMIC BALANCED FUND                            74 non-null     float64
 75  SYARIAH SCHRODER GLOBAL SHARIA EQUITY FUND (USD)          74 non-null     float64
 76  SCHRODER SYARIAH BALANCED FUND                            74 non-null     float64
 77  REKSA DANA SYARIAH BAHANA MES SYARIAH FUND KELAS G        74 non-null     float64
 78  SCHRODER USD BOND FUND                                    74 non-null     float64
 79  SIMAS SAHAM UNGGULAN                                      74 non-null     float64
 80  Simas Satu                                                74 non-null     float64
 81  SIMAS SYARIAH UNGGULAN                                    74 non-null     float64
 82  REKSA DANA SUCORINVEST BOND FUND                          74 non-null     float64
 83  SUCORINVEST EQUITY FUND                                   74 non-null     float64
 84  SUCORINVEST FLEXI FUND                                    74 non-null     float64
 85  SUCORINVEST MAXI FUND                                     74 non-null     float64
 86  SUCORINVEST MONEY MARKET FUND                             74 non-null     float64
 87  SUCORINVEST SHARIA EQUITY FUND                            74 non-null     float64
 88  Bahana Primavera 99 Kelas G                               74 non-null     float64
 89  Sucorinvest Sharia Money Market Fund                      74 non-null     float64
 90  Sucorinvest Sharia Sukuk Fund                             32 non-null     float64
 91  Sucorinvest Stable Fund                                   74 non-null     float64
 92  TRAM CONSUMPTION PLUS KELAS A                             74 non-null     float64
 93  TRAM INFRASTRUCTURE PLUS                                  74 non-null     float64
 94  TRAM STRATEGIC PLUS                                       74 non-null     float64
 95  TRIM Dana Tetap 2                                         74 non-null     float64
 96  TRIM Kapital                                              74 non-null     float64
 97  TRIM KAPITAL PLUS                                         74 non-null     float64
 98  ABF INDONESIA BOND INDEX FUND                             74 non-null     float64
dtypes: float64(99)
memory usage: 60.6 KB

In [63]:
df_nav_bibit = df_nav_bibit.iloc[1:,].bfill()
df_nav_bibit.head()

,Avrist Ada Kas Mutiara,Batavia Dana Kas Maxima,Batavia Dana Obligasi Ultima,BATAVIA DANA SAHAM,BATAVIA DANA SAHAM SYARIAH,BNI-AM DANA LANCAR SYARIAH,BNI-AM DANA LIKUID,REKSA DANA BNI-AM DANA PENDAPATAN TETAP MAKARA INVESTASI,BNI-AM DANA PENDAPATAN TETAP SYARIAH ARDHANI,BNI-AM Dana Saham Inspiring Equity Fund,...,Sucorinvest Sharia Money Market Fund,Sucorinvest Sharia Sukuk Fund,Sucorinvest Stable Fund,TRAM CONSUMPTION PLUS KELAS A,TRAM INFRASTRUCTURE PLUS,TRAM STRATEGIC PLUS,TRIM Dana Tetap 2,TRIM Kapital,TRIM KAPITAL PLUS,ABF INDONESIA BOND INDEX FUND
DateTime,,,,,,,,,,,,,,,,,,,,,
2021-01-10,1247.211429,1569.285714,2898.944286,60014.175714,1871.311429,1543.874286,1653.878571,1222.679980,1419.574286,1047.923320,...,1170.771429,1000.0,1076.915714,1785.795714,1236.715714,1788.140000,2649.227757,9732.388357,3434.890471,45161.364357
2021-01-17,1248.247143,1570.435714,2887.065714,61897.321429,1908.560000,1544.738571,1654.990000,1215.591183,1414.027143,1077.559700,...,1171.974286,1000.0,1078.962857,1843.835714,1294.928571,1765.182857,2635.810029,10140.866557,3566.784343,44812.357614
2021-01-24,1249.307143,1571.528571,2882.937143,62225.741429,1890.582857,1545.604286,1655.837143,1212.864740,1410.098571,1081.802000,...,1172.868571,1000.0,1081.027143,1844.407143,1299.565714,1755.071429,2631.471729,10189.467286,3561.017029,44679.002114
2021-01-31,1250.382857,1572.655714,2890.737143,58879.262857,1759.311429,1547.514286,1657.214286,1215.724333,1412.592857,1024.218683,...,1173.748571,1000.0,1083.118571,1739.272857,1229.821429,1758.848571,2641.265171,9681.042429,3377.125186,44807.548557
2021-02-07,1251.384286,1573.748571,2904.972857,59538.748571,1778.257143,1548.925714,1658.997143,1221.428000,1419.162857,1022.240160,...,1174.852857,1000.0,1085.131429,1761.731429,1250.057143,1775.481429,2657.535114,9825.371929,3432.152400,45121.768657

In [64]:
df_nav_bibit.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 74 entries, 2021-01-10 to 2022-06-05
Freq: W-SUN
Data columns (total 99 columns):
 #   Column                                                    Non-Null Count  Dtype
---  ------                                                    --------------  -----
 0   Avrist Ada Kas Mutiara                                    74 non-null     float64
 1   Batavia Dana Kas Maxima                                   74 non-null     float64
 2   Batavia Dana Obligasi Ultima                              74 non-null     float64
 3   BATAVIA DANA SAHAM                                        74 non-null     float64
 4   BATAVIA DANA SAHAM SYARIAH                                74 non-null     float64
 5   BNI-AM DANA LANCAR SYARIAH                                74 non-null     float64
 6   BNI-AM DANA LIKUID                                        74 non-null     float64
 7   REKSA DANA BNI-AM DANA PENDAPATAN TETAP MAKARA INVESTASI  74 non-null     float64
 8   BNI-AM DANA PENDAPATAN TETAP SYARIAH ARDHANI              74 non-null     float64
 9   BNI-AM Dana Saham Inspiring Equity Fund                   74 non-null     float64
 10  BNI-AM Indeks IDX30                                       74 non-null     float64
 11  Avrist Ada Saham Blue Safir                               74 non-null     float64
 12  ITB Harmoni BNI-AM                                        74 non-null     float64
 13  BNI-AM Mahogany                                           74 non-null     float64
 14  SYARIAH BNP PARIBAS CAKRA SYARIAH USD KELAS RK1           74 non-null     float64
 15  BNP PARIBAS EKUITAS                                       74 non-null     float64
 16  BNP Paribas Greater China Equity Syariah USD Kelas RK1    74 non-null     float64
 17  BNP PARIBAS INFRASTRUKTUR PLUS                            74 non-null     float64
 18  BNP Paribas Omega                                         74 non-null     float64
 19  BNP PARIBAS PESONA                                        74 non-null     float64
 20  BNP Paribas Pesona Syariah                                74 non-null     float64
 21  Reksa Dana BNP Paribas Prima II Kelas RK1                 74 non-null     float64
 22  AVRIST BALANCED AMAR SYARIAH                              74 non-null     float64
 23  BNP PARIBAS PRIMA USD                                     74 non-null     float64
 24  BNP PARIBAS RUPIAH PLUS                                   74 non-null     float64
 25  BNP PARIBAS SOLARIS                                       74 non-null     float64
 26  BNP Paribas Sri Kehati                                    74 non-null     float64
 27  DANAMAS RUPIAH PLUS                                       74 non-null     float64
 28  DANAMAS STABIL                                            74 non-null     float64
 29  DANAREKSA INDEKS SYARIAH                                  74 non-null     float64
 30  DANAREKSA MAWAR KONSUMER 10 KELAS A                       74 non-null     float64
 31  Danareksa Melati Pendapatan Utama                         74 non-null     float64
 32  DANAREKSA SERUNI PASAR UANG II                            74 non-null     float64
 33  Avrist IDX30                                              74 non-null     float64
 34  DANAREKSA SERUNI PASAR UANG III                           74 non-null     float64
 35  Reksa Dana Eastspring IDR Fixed Income Fund Kelas A       74 non-null     float64
 36  Reksa Dana Eastspring Investments Cash Reserve Kelas A    74 non-null     float64
 37  EASTSPRING INVESTMENTS VALUE DISCOVERY KELAS A            74 non-null     float64
 38  EASTSPRING INVESTMENTS YIELD DISCOVERY KELAS A            74 non-null     float64
 39  Eastspring Syariah Fixed Income Amanah Kelas A            74 non-null     float64
 40  Eastspring Syariah Greater China Equity USD Kelas A       74 non-null     float64
 41  Jarvis Balanced Fund                                      74 non-null     float64
 42  Jarvis Money Market Fund                                  74 non-null     float64
 43  MAJORIS OBLIGASI UTAMA INDONESIA                          74 non-null     float64
 44  AVRIST PRIME BOND FUND                                    74 non-null     float64
 45  Majoris Pasar Uang Syariah Indonesia                      74 non-null     float64
 46  MAJORIS SAHAM ALOKASI DINAMIK INDONESIA                   74 non-null     float64
 47  Majoris Sukuk Negara Indonesia                            74 non-null     float64
 48  MAKARA PRIMA                                              74 non-null     float64
 49  Mandiri Indeks FTSE Indonesia ESG Kelas A                 74 non-null     float64
 50  MANDIRI INVESTA ATRAKTIF-SYARIAH                          74 non-null     float64
 51  MANDIRI INVESTA DANA SYARIAH                              74 non-null     float64
 52  Mandiri Investa Syariah Berimbang                         74 non-null     float64
 53  Mandiri Investasi Obligasi Nasional                       74 non-null     float64
 54  Mandiri Pasar Uang Syariah Ekstra                         74 non-null     float64
 55  BAHANA DANA LIKUID                                        74 non-null     float64
 56  Manulife Dana Kas II Kelas A                              74 non-null     float64
 57  Manulife Dana Kas Syariah                                 74 non-null     float64
 58  REKSA DANA MANULIFE DANA SAHAM KELAS A                    74 non-null     float64
 59  MANULIFE OBLIGASI NEGARA INDONESIA II KELAS A             74 non-null     float64
 60  MANULIFE OBLIGASI UNGGULAN KELAS A                        74 non-null     float64
 61  MANULIFE SAHAM ANDALAN                                    74 non-null     float64
 62  Reksa Dana Manulife Syariah Sektoral Amanah Kelas A       74 non-null     float64
 63  MANULIFE USD FIXED INCOME KELAS A                         74 non-null     float64
 64  PRINCIPAL CASH FUND                                       74 non-null     float64
 65  Principal Index IDX30 Kelas O                             74 non-null     float64
 66  Bahana Likuid Syariah Kelas G                             74 non-null     float64
 67  PRINCIPAL ISLAMIC EQUITY GROWTH SYARIAH                   74 non-null     float64
 68  PRINCIPAL TOTAL RETURN BOND FUND                          74 non-null     float64
 69  SCHRODER 90 PLUS EQUITY FUND                              74 non-null     float64
 70  SCHRODER DANA ISTIMEWA                                    74 non-null     float64
 71  Schroder dana Likuid                                      74 non-null     float64
 72  Schroder Dana Likuid Syariah                              74 non-null     float64
 73  SCHRODER DANA MANTAP PLUS II                              74 non-null     float64
 74  SCHRODER DYNAMIC BALANCED FUND                            74 non-null     float64
 75  SYARIAH SCHRODER GLOBAL SHARIA EQUITY FUND (USD)          74 non-null     float64
 76  SCHRODER SYARIAH BALANCED FUND                            74 non-null     float64
 77  REKSA DANA SYARIAH BAHANA MES SYARIAH FUND KELAS G        74 non-null     float64
 78  SCHRODER USD BOND FUND                                    74 non-null     float64
 79  SIMAS SAHAM UNGGULAN                                      74 non-null     float64
 80  Simas Satu                                                74 non-null     float64
 81  SIMAS SYARIAH UNGGULAN                                    74 non-null     float64
 82  REKSA DANA SUCORINVEST BOND FUND                          74 non-null     float64
 83  SUCORINVEST EQUITY FUND                                   74 non-null     float64
 84  SUCORINVEST FLEXI FUND                                    74 non-null     float64
 85  SUCORINVEST MAXI FUND                                     74 non-null     float64
 86  SUCORINVEST MONEY MARKET FUND                             74 non-null     float64
 87  SUCORINVEST SHARIA EQUITY FUND                            74 non-null     float64
 88  Bahana Primavera 99 Kelas G                               74 non-null     float64
 89  Sucorinvest Sharia Money Market Fund                      74 non-null     float64
 90  Sucorinvest Sharia Sukuk Fund                             74 non-null     float64
 91  Sucorinvest Stable Fund                                   74 non-null     float64
 92  TRAM CONSUMPTION PLUS KELAS A                             74 non-null     float64
 93  TRAM INFRASTRUCTURE PLUS                                  74 non-null     float64
 94  TRAM STRATEGIC PLUS                                       74 non-null     float64
 95  TRIM Dana Tetap 2                                         74 non-null     float64
 96  TRIM Kapital                                              74 non-null     float64
 97  TRIM KAPITAL PLUS                                         74 non-null     float64
 98  ABF INDONESIA BOND INDEX FUND                             74 non-null     float64
dtypes: float64(99)
memory usage: 57.8 KB

In [65]:
# Save NAV from Bibit fund list
df_nav_bibit.to_csv('data/nav_bibit.csv')

In [66]:
df_nav_bibit.pct_change()

,Avrist Ada Kas Mutiara,Batavia Dana Kas Maxima,Batavia Dana Obligasi Ultima,BATAVIA DANA SAHAM,BATAVIA DANA SAHAM SYARIAH,BNI-AM DANA LANCAR SYARIAH,BNI-AM DANA LIKUID,REKSA DANA BNI-AM DANA PENDAPATAN TETAP MAKARA INVESTASI,BNI-AM DANA PENDAPATAN TETAP SYARIAH ARDHANI,BNI-AM Dana Saham Inspiring Equity Fund,...,Sucorinvest Sharia Money Market Fund,Sucorinvest Sharia Sukuk Fund,Sucorinvest Stable Fund,TRAM CONSUMPTION PLUS KELAS A,TRAM INFRASTRUCTURE PLUS,TRAM STRATEGIC PLUS,TRIM Dana Tetap 2,TRIM Kapital,TRIM KAPITAL PLUS,ABF INDONESIA BOND INDEX FUND
DateTime,,,,,,,,,,,,,,,,,,,,,
2021-01-10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2021-01-17,0.000830,0.000733,-0.004098,0.031378,0.019905,0.000560,0.000672,-0.005798,-0.003908,0.028281,...,0.001027,0.000000,0.001901,0.032501,0.047071,-0.012839,-0.005065,0.041971,0.038398,-0.007728
2021-01-24,0.000849,0.000696,-0.001430,0.005306,-0.009419,0.000560,0.000512,-0.002243,-0.002778,0.003937,...,0.000763,0.000000,0.001913,0.000310,0.003581,-0.005728,-0.001646,0.004793,-0.001617,-0.002976
2021-01-31,0.000861,0.000717,0.002706,-0.053780,-0.069434,0.001236,0.000832,0.002358,0.001769,-0.053229,...,0.000750,0.000000,0.001935,-0.057002,-0.053667,0.002152,0.003722,-0.049897,-0.051640,0.002877
2021-02-07,0.000801,0.000695,0.004925,0.011201,0.010769,0.000912,0.001076,0.004692,0.004651,-0.001932,...,0.000941,0.000000,0.001858,0.012913,0.016454,0.009457,0.006160,0.014908,0.016294,0.007013
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-05-08,0.000027,0.000034,-0.000805,-0.000541,0.002813,0.000021,0.000019,-0.011263,-0.000223,-0.048121,...,0.000069,0.000155,0.000194,0.001609,0.003414,-0.000018,0.000055,0.002143,0.001913,-0.000305
2022-05-15,0.000837,0.000838,-0.016319,-0.077239,-0.045812,0.001117,0.001233,0.000000,-0.016179,0.000000,...,0.001372,0.002178,0.002340,-0.072987,-0.070256,-0.023520,-0.010007,-0.068033,-0.072862,-0.022106
2022-05-22,0.000384,0.000395,0.002916,0.011978,0.007017,0.000835,0.000629,0.005586,-0.002269,0.003836,...,0.000737,0.001090,0.001267,0.011867,0.011299,-0.001488,0.000836,0.003355,0.003550,0.000732
2022-05-29,0.000641,0.000439,0.011238,0.014542,0.002672,0.001527,0.000915,0.012290,0.006851,0.001049,...,0.000861,0.001280,0.001263,0.012169,0.005764,0.012791,0.006132,0.009553,0.009004,0.011699
2022-06-05,0.000500,0.000383,0.005519,0.016990,0.020115,0.000713,0.000435,0.008706,0.004510,0.021594,...,0.000754,0.002755,0.001787,0.017182,0.011501,0.012036,0.004476,0.012989,0.012834,0.008732

## Get Stock Fund

In [83]:
df_fund_desc_bibit = pd.read_csv('data/fund_desc_in_bibit.csv')
df_nav_bibit = pd.read_csv('data/nav_bibit.csv')
df_nav_bibit = df_nav_bibit.set_index('DateTime')

In [87]:
fund_condition = (df_fund_desc_bibit['type'] == 'Saham') & (df_fund_desc_bibit['minbuy'] == 10000)
df_nav_bibit.columns = [col.lower() for col in df_nav_bibit.columns]
stock_fund_list = [fund.lower() for fund in df_fund_desc_bibit[fund_condition]['name']]
df_nav_bibit_stock = df_nav_bibit[stock_fund_list]
df_nav_bibit_stock

,batavia dana saham,batavia dana saham syariah,bni-am dana saham inspiring equity fund,bni-am indeks idx30,bni-am mahogany,bnp paribas pesona syariah,bnp paribas sri kehati,reksa dana manulife dana saham kelas a,simas saham unggulan
DateTime,,,,,,,,,
2021-01-10,60014.175714,1871.311429,1047.923320,882.014000,907.775714,2538.642857,980.062857,11570.238571,1337.147957
2021-01-17,61897.321429,1908.560000,1077.559700,916.295000,932.134286,2579.860000,1007.891429,11975.115714,1376.151986
2021-01-24,62225.741429,1890.582857,1081.802000,920.024000,934.400000,2543.352857,1017.268571,11960.601429,1360.591800
2021-01-31,58879.262857,1759.311429,1024.218683,868.603333,879.144286,2390.328571,959.347143,11283.947143,1280.305457
2021-02-07,59538.748571,1778.257143,1022.240160,862.682000,886.228571,2432.834286,958.994286,11419.304286,1298.129671
...,...,...,...,...,...,...,...,...,...
2022-05-08,66630.575000,1926.800000,1063.368440,938.476000,1065.555000,2562.420000,1108.570000,12490.590000,1427.211200
2022-05-15,61484.070000,1838.528571,1063.368440,938.476000,1008.710000,2445.575714,1042.201429,11574.238571,1326.123986
2022-05-22,62220.530714,1851.430000,1067.447900,936.224000,1021.203571,2461.623571,1046.325000,11728.837857,1322.851107
2022-05-29,63125.312857,1856.377857,1068.567800,939.207500,1033.492143,2480.913571,1057.064286,11907.777857,1334.063357
2022-06-05,64197.818000,1893.718000,1091.641950,964.380000,1049.468000,2528.373000,1079.513000,12152.389000,1360.272200

In [89]:
df_nav_bibit_stock_ret = df_nav_bibit_stock.pct_change()
df_nav_bibit_stock_ret = df_nav_bibit_stock_ret.iloc[1:,:]
df_nav_bibit_stock_ret.head()

,batavia dana saham,batavia dana saham syariah,bni-am dana saham inspiring equity fund,bni-am indeks idx30,bni-am mahogany,bnp paribas pesona syariah,bnp paribas sri kehati,reksa dana manulife dana saham kelas a,simas saham unggulan
DateTime,,,,,,,,,
2021-01-17,0.031378,0.019905,0.028281,0.038867,0.026833,0.016236,0.028395,0.034993,0.029170
2021-01-24,0.005306,-0.009419,0.003937,0.004070,0.002431,-0.014151,0.009304,-0.001212,-0.011307
2021-01-31,-0.053780,-0.069434,-0.053229,-0.055891,-0.059135,-0.060166,-0.056938,-0.056574,-0.059008
2021-02-07,0.011201,0.010769,-0.001932,-0.006817,0.008058,0.017782,-0.000368,0.011996,0.013922
2021-02-14,0.008101,0.008005,0.004285,0.005475,0.007557,0.008312,0.004941,0.008291,0.015489

In [ ]:
df_nav_bibit_stock_ret.to_csv('data/nav_bibit_fund_return.csv')